
<%= simple_form_for [@company, @finance] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="pull-right"><%= f.error_notification %>
    <%= link_to new_company_person_path, :class => 'btn btn-primary btn-sm float-right' do %>
      <span class="fa fa-plus"></span>
      Person
    <% end %>
  </div>
  <div class="form-inputs">
    <%= f.input :person_id do %>
      <%= f.select :person_id, Person.where(company_id: @company.id).order('name ASC').all.map{ |i|[i.name, i.id] }, :selected => @finance.person_id, :include_blank => "Choose a name"  %>
    <% end %>
    <br/>
    <%= f.input :stock_plan_id do %>
      <%= f.select :stockplan_id, options_for_select(Stockplan.where(company_id: @company.id).all.map{ |c|[c.series, c.id] }, f.object.stockplan_id), :selected => @finance.stockplan_id, :include_blank => "Choose a stock series"  %>
    <% end %>
    <br/>
    <%= f.input :title %>
    <%= f.input :doc_date, as: :string, input_html: { class: "datepicker" } %>
    <%= f.input :category, collection: ["Stock", "Option", "Warrant", "Convertible Note", "SAFE", "Debt"] %>
    <%= f.input :description %>
    <%= f.input :status, collection: ["Pending", "Complete", "Void"] %>
    <%= f.input :active %>
    <%= f.input :complete %>
    <%= f.input :notes %>
    <br/>
    <%= f.file_field :finance_document %>
  </div>
  <br/>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                company_finances_path, :class => 'btn' %>
  </div>
<% end %>
