<div class="page-header">
  <%= link_to company_officers_path, :class => 'btn btn-primary float-right' do %>
    <span class="fa fa-list-alt"></span>
    List
  <% end %>
  <% if current_user.editor? %>
  <%= link_to edit_company_officer_path(@company, @officer), :class => 'btn btn-primary float-right' do %>
    <span class="fa fa-edit"></span>
    Edit
  <% end %>
  <% end %>
  <h1>Show Officer</h1>
</div>

<div class="card-group card border-success mb-3">
  <div class="card">
    <div class="card-header border-success">
      Show Officer - <%= link_to company_person_path(@company, @officer.person_id) do %><%= @officer.person.name %><%end%>
    </div>
    <div class="card-body">

      <ul class="list-unstyled row">

        <li class="col-sm-4 font-weight-bold">Title:</li>
        <li class="col-sm-8"><%= @officer.title %></li>

        <li class="col-sm-4 font-weight-bold">State Requirement:</li>
        <li class="col-sm-8"><%= @officer.jx_required %></li>

        <li class="col-sm-4 font-weight-bold">Notes:</li>
        <li class="col-sm-8"><%= @officer.notes %></li>

      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header border-success">Address</div>
    <div class="card-body">

      <ul class="list-unstyled row">
        <li class="col-sm-4 font-weight-bold">Address:</li>
        <li class="col-sm-8"><%= @officer.person.address %></li>
        <li class="col-sm-4 font-weight-bold">City:</li>
        <li class="col-sm-8"><%= @officer.person.city %></li>
        <li class="col-sm-4 font-weight-bold">State:</li>
        <li class="col-sm-8"><%= @officer.person.state %></li>
        <li class="col-sm-4 font-weight-bold">Zip Code:</li>
        <li class="col-sm-8 font-weight-bold"><%= @officer.person.zip %></li>
        <li class="col-sm-4 font-weight-bold">Country:</li>
        <li class="col-sm-8"><%= @officer.person.country %></li>
        <li class="col-sm-4 font-weight-bold">Email:</li>
        <li class="col-sm-8"><%= @officer.person.email %></li>
      </ul>
    </div>
  </div>

</div>
<br/>
<br/>
<% if @officer.officer_document.attached? %>
  <object data= "<%= rails_blob_path(@officer.officer_document, disposition: "officer_document") %>"
          type="application/pdf"
          class="pdf"
          width="1000"
          height="1000">
    <p>It appears you don't have a PDF plugin for this browser.</p>
  </object>
  <br/>
  <br/>
  <% if @officer.officer_document.previewable? %>
    <%= link_to(image_tag( @officer.officer_document.preview(resize: "400x400>")),  rails_blob_path( @officer.officer_document, disposition: "officer_document")) %>
  <% elsif @officer.officer_document.variable? %>
    <%= link_to(image_tag( @officer.officer_document.variant(resize: "400x400")), rails_blob_path( @officer.officer_document, disposition: "officer_document"))%>
  <% else %>
  <% end %>
  <%= link_to "Download file", rails_blob_path(@officer.officer_document, disposition: "officer_document") %>

<% else %>
  <div class="card w-50 mx-auto">
    <div class="card-header">
      No Document Attached
    </div>
  </div>
  </div>
<% end %>

<br/>
<br/>
<br/>

