<div class="page-header">
  <%= link_to company_stockplans_path, :class => 'btn btn-primary float-right' do %>
    <span class="fa fa-list-alt"></span>
    List
  <% end %>
  <% if current_user.editor? %>
    <%= link_to edit_company_stockplan_path(@company, @stockplan), :class => 'btn btn-primary float-right' do %>
      <span class="fa fa-edit"></span>
      Edit
    <% end %>
  <% end %>
  <h1>Show Stock Series</h1>
</div>

<div class="card-group card border-success mb-3">
  <div class="card">
    <div class="card-header border-success">Stock Series</div>
    <div class="card-body">

      <ul class="list-unstyled row">

        <li class="col-sm-4 font-weight-bold">Stockclass:</li>
        <li class="col-sm-8"><%= @stockplan.stock_class %></li>

        <li class="col-sm-4 font-weight-bold">Series:</li>
        <li class="col-sm-8"><%= @stockplan.series %></li>

        <li class="col-sm-4 font-weight-bold">Date Authorized:</li>
        <li class="col-sm-8"><%= @stockplan.date_authorized %></li>

        <li class="col-sm-4 font-weight-bold">Board Resolution:</li>
        <li class="col-sm-8"><%= link_to company_resolution_path(@company, @stockplan.resolution_id) do %><%= @stockplan.resolution.title %><%end%></li>


        <li class="col-sm-4 font-weight-bold">Rights:</li>
        <li class="col-sm-8"><%= @stockplan.rights %></li>

      </ul>

    </div>
  </div>

  <div class="card">
    <div class="card-header border-success">Shares</div>
    <div class="card-body">

      <ul class="list-unstyled row">

        <li class="col-sm-4 font-weight-bold">Par:</li>
        <li class="col-sm-8"><%= @stockplan.par_value %></li>

        <li class="col-sm-4 font-weight-bold">Shares Authorized:</li>
        <li class="col-sm-8"><%= @stockplan.shares_authorized %></li>

        <li class="col-sm-4 font-weight-bold">Shares Issuable:</li>
        <li class="col-sm-8"><%= @stockplan.shares_issuable %></li>

        <li class="col-sm-4 font-weight-bold">Shares Reserved:</li>
        <li class="col-sm-8"><%= @stockplan.shares_reserved %></li>

        <li class="col-sm-4 font-weight-bold">Notes:</li>
        <li class="col-sm-8"><%= @stockplan.notes %></li>
      </ul>
    </div>
  </div>

</div>
<br/>
<br/>
<% if @stockplan.stockplan_document.attached? %>
  <object data= "<%= rails_blob_path(@stockplan.stockplan_document, disposition: "stockplan_document") %>"
          type="application/pdf"
          class="pdf"
          width="1000"
          height="1000">
    <p>It appears you don't have a PDF plugin for this browser.</p>
  </object>
  <br/>

  <% if @stockplan.stockplan_document.previewable? %>
    <%= link_to(image_tag( @stockplan.stockplan_document.preview(resize: "400x400>")),  rails_blob_path( @stockplan.stockplan_document, disposition: "stockplan_document")) %>
  <% elsif @stockplan.stockplan_document.variable? %>
    <%= link_to(image_tag( @stockplan.stockplan_document.variant(resize: "400x400")), rails_blob_path( @stockplan.stockplan_document, disposition: "stockplan_document"))%>
  <% else %>
  <% end %>
  <%= link_to "Download file", rails_blob_path(@stockplan.stockplan_document, disposition: "stockplan_document") %>

<% else %>
  <div class="card w-50 mx-auto">
    <div class="card-header">
      No Document Attached
    </div>
  </div>
  </div>
<% end %>
<br/>
<br/>
<br/>
<br/>
