<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Shortname:</strong>
  <%= @company.shortname %>
</p>

<p>
  <strong>Formation date:</strong>
  <%= @company.formation_date %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @company.entity %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @company.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @company.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @company.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @company.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Web:</strong>
  <%= @company.web %>
</p>

<p>
  <strong>Fein:</strong>
  <%= @company.fein %>
</p>

<p>
  <strong>Status:</strong>
  <%= @company.status %>
</p>

<p>
  <strong>Active:</strong>
  <%= @company.active %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @company.notes %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
