<div class="page-header">
  <%= link_to company_optionplans_path, :class => 'btn btn-primary float-right' do %>
    <span class="fa fa-list-alt"></span>
    List
  <% end %>
  <% if current_user.editor? %>
    <%= link_to edit_company_optionplan_path(@company, @optionplan), :class => 'btn btn-primary float-right' do %>
      <span class="fa fa-edit"></span>
      Edit
    <% end %>
  <% end %>
  <h1>Show Option Plan</h1>
</div>

<div class="card">
  <div class="card-header border-success">
    Show Option Plan: <%= @optionplan.plan_title %>
  </div>
  <div class="card-body">

    <ul class="list-unstyled row">

      <li class="col-sm-4 font-weight-bold">Underlying Security:</li>
      <li class="col-sm-8"><%= link_to company_stockplan_path(@company, @optionplan.stockplan_id) do %><%= @optionplan.stockplan.series %><%end%></li>

      <li class="col-sm-4 font-weight-bold">Plan Date:</li>
      <li class="col-sm-8"><%= @optionplan.plan_date %></li>

      <li class="col-sm-4 font-weight-bold">Share Allocated:</li>
      <li class="col-sm-8"><%= @optionplan.shares_allocated %></li>

      <li class="col-sm-4 font-weight-bold">Board Resolution:</li>
      <li class="col-sm-8"><%= link_to company_resolution_path(@company, @optionplan.resolution_id) do %><%= @optionplan.resolution.title %><%end%></li>

      <li class="col-sm-4 font-weight-bold">Notes:</li>
      <li class="col-sm-8"><%= @optionplan.notes %></li>

    </ul>
  </div>
</div>

<br/>
<br/>
<% if @optionplan.optionplan_document.attached? %>
  <object data= "<%= rails_blob_path(@optionplan.optionplan_document, disposition: "optionplan_document") %>"
          type="application/pdf"
          class="pdf"
          width="1000"
          height="1000">
    <p>It appears you don't have a PDF plugin for this browser.</p>
  </object>
  <br/>

  <% if @optionplan.optionplan_document.previewable? %>
    <%= link_to(image_tag( @optionplan.optionplan_document.preview(resize: "400x400>")),  rails_blob_path( @optionplan.optionplan_document, disposition: "optionplan_document")) %>
  <% elsif @optionplan.optionplan_document.variable? %>
    <%= link_to(image_tag( @optionplan.optionplan_document.variant(resize: "400x400")), rails_blob_path( @optionplan.optionplan_document, disposition: "optionplan_document"))%>
  <% else %>
  <% end %>
  <%= link_to "Download file", rails_blob_path(@optionplan.optionplan_document, disposition: "optionplan_document") %>

<% else %>
  <div class="card w-50 mx-auto">
    <div class="card-header">
      No Document Attached
    </div>
  </div>
  </div>
<% end %>
<br/>
<br/>
<br/>
<br/>