<div class="page-header">
  <%= link_to company_advisors_path, :class => 'btn btn-primary float-right' do %>
    <span class="fa fa-list-alt"></span>
    List
  <% end %>
  <% if current_user.editor? %>
    <%= link_to edit_company_advisor_path(@company, @advisor), :class => 'btn btn-primary float-right' do %>
      <span class="fa fa-edit"></span>
      Edit
    <% end %>
  <% end %>
  <h1>Show Advisor</h1>
</div>

<div class="card-group card border-success mb-3">
  <div class="card">
    <div class="card-header border-success">
      <%= link_to company_person_path(@company, @advisor.person_id) do %><%= @advisor.person.name %><%end%>
    </div>
    <div class="card-body">

      <ul class="list-unstyled row">

        <li class="col-sm-4 font-weight-bold">Board:</li>
        <li class="col-sm-8"><%= @advisor.board %></li>

        <li class="col-sm-4 font-weight-bold">Start date:</li>
        <li class="col-sm-8"><%= @advisor.start_date %></li>

        <li class="col-sm-4 font-weight-bold">Term:</li>
        <li class="col-sm-8"><%= @advisor.term %></li>

        <li class="col-sm-4 font-weight-bold">Compensation:</li>
        <li class="col-sm-8"><%= @advisor.compensation %></li>

        <li class="col-sm-4 font-weight-bold">Notes:</li>
        <li class="col-sm-8"><%= @advisor.notes %></li>

      </ul>

    </div>
  </div>

  <div class="card">
    <div class="card-header border-success">Address</div>
    <div class="card-body">

      <ul class="list-unstyled row">
        <li class="col-sm-4 font-weight-bold">Address:</li>
        <li class="col-sm-8"><%= @advisor.person.address %></li>
        <li class="col-sm-4 font-weight-bold">City:</li>
        <li class="col-sm-8"><%= @advisor.person.city %></li>
        <li class="col-sm-4 font-weight-bold">State:</li>
        <li class="col-sm-8"><%= @advisor.person.state %></li>
        <li class="col-sm-4 font-weight-bold">Zip Code:</li>
        <li class="col-sm-8 font-weight-bold"><%= @advisor.person.zip %></li>
        <li class="col-sm-4 font-weight-bold">Country:</li>
        <li class="col-sm-8"><%= @advisor.person.country %></li>
        <li class="col-sm-4 font-weight-bold">Email:</li>
        <li class="col-sm-8"><%= @advisor.person.email %></li>
      </ul>
    </div>
  </div>

</div>
<br/>
<br/>
<% if @advisor.advisor_document.attached? %>
  <object data= "<%= rails_blob_path(@advisor.advisor_document, disposition: "advisor_document") %>"
          type="application/pdf"
          class="pdf"
          width="1000"
          height="1000">
    <p>It appears you don't have a PDF plugin for this browser.</p>
  </object>
  <br/>
  <br/>
  <% if @advisor.advisor_document.previewable? %>
    <%= link_to(image_tag( @advisor.advisor_document.preview(resize: "400x400>")),  rails_blob_path( @advisor.advisor_document, disposition: "advisor_document")) %>
  <% elsif @advisor.advisor_document.variable? %>
    <%= link_to(image_tag( @advisor.advisor_document.variant(resize: "400x400")), rails_blob_path( @advisor.advisor_document, disposition: "advisor_document"))%>
  <% else %>
  <% end %>
  <%= link_to "Download file", rails_blob_path(@advisor.advisor_document, disposition: "advisor_document") %>

<% else %>
  <div class="card w-50 mx-auto">
    <div class="card-header">
      No Document Attached
    </div>
  </div>
  </div>
<% end %>

<br/>
<br/>
<br/>
